################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sources/Office365_AssignLicenses_Console/bin/Debug/Output/Action_Export.csv
/sources/Office365_AssignLicenses_Console/bin/Debug/Output/Trace.log
/sources/Office365_AssignLicenses_Console/bin/Debug/Output/Simple_Report.csv
/sources/PRIVATENOTES.txt
/sources/Office365_AssignLicenses_Console/Config/config.json
/sources/Office365_AssignLicenses_Console/Config/usersdefinition.json
/sources/Office365_AssignLicenses_Console/Config/profilesdefinition.json
/sources/Office365_AssignLicenses_Console/bin/Debug
/sources/Office365_AssignLicenses_Console/bin/Release
/sources/Office365_AssignLicenses_Console/obj/Release
/sources/Office365_AssignLicenses_Console/obj/Debug
/sources/.vs
/sources/Office365_AssignLicenses_Console/Properties
/sources/packages
